body {
  background-color: #000000;
}

.orbit-container {
  position: relative;
  top: 300px;
  left: 600px;
  height: 600px;
  width: 600px;
}

.sun {
  position: absolute;
  top:115px;
  left:117px;
  width: 70px;
  height: 70px;
  color:yellow;
  background-color:yellow;
  box-shadow: 0 0 60px orange;
  border-radius: 50px
}
.orbit-one {
  position: absolute;
  top: 75px;
  left: 75px;
   width: 150px;
   height: 150px;
   border: 1px solid #ffffff;
   animation: myR 3s linear infinite;
   border-radius: 500px;
}

.planet-one {
  position: absolute;
  top: 50px;
  color: #ffffff;
  background-color: #767180;
  box-shadow: 0 0 20px #a29bb1;
  width: 7px;
  height: 7px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

.orbit-two {
  position: relative;
  top: 38px;
  left: 38px;
   width: 225px;
   height: 225px;
   border: 1px solid #ffffff;
   animation: myR 6s linear infinite;
   border-radius: 500px;
}

.planet-two {
  position: absolute;
  top: 60px;
  color: #ffffff;
  background-color: #EDE3B4;
  box-shadow: 0 0 28px rgb(235, 219, 149);
  width: 18px;
  height: 18px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

.orbit-three {
  position: absolute;
  top: 3px;
  left: 3px;
   width: 300px;
   height: 300px;
   border: 1px solid #ffffff;
   animation: myR 10s linear infinite;
   border-radius: 500px;
}

.planet-three {
  position: absolute;
  top: 90px;
  color: #ffffff;
  background-color: #6EA7F0;
  box-shadow: 0 0 30px rgb(73, 146, 241);
  width: 20px;
  height: 20px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

<<<<<<< .merge_file_0TSuuy
@keyframes myR {
  100% {transform: rotate(360deg);}
}

*/

.orbit {
  position: absolute;
  border-radius: 100%;
  border: 1px white solid;
}

#circle-orbit-container {
  height: 300px;
  justify-content: center;
  display:flex;
  align-items:center;
  position: absolute;
  top: 60%;
  right:60%;
  transform: translate(-50%, -50%); 

}

#first-orbit {
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  -webkit-animation: spin-right 2s linear infinite;
  animation: spin-right 2s linear infinite;
}

.first-orbit-circle {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #ff0000;
}

#second-orbit {
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  -webkit-animation: spin-right 4s linear infinite;
  animation: spin-right 4s linear infinite;
}

.second-orbit-circle {
  position: absolute;
  top: 25px;
  left: 19px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #00ff00;
}

#third-orbit {
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  -webkit-animation: spin-right 6s linear infinite;
  animation: spin-right 6s linear infinite;
}

.third-orbit-circle {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #0000ff;
}

#fourth-orbit {
  top: -40px;
  left: -40px;
  width: 380px;
  height: 380px;
  -webkit-animation: spin-right 8s linear infinite;
  animation: spin-right 8s linear infinite;
}

.fourth-orbit-circle {
position: absolute;
top: -20px;
left: 150px;
height: 40px;
width: 40px;
border-radius: 100%;
background-color: #f0f0f0;
}

#fifth-orbit {
top: -75px;
left: -75px;
width: 460px;
height: 460px;
-webkit-animation: spin-right 8s linear infinite;
animation: spin-right 8s linear infinite;
}

.fifth-orbit-circle {
position: absolute;
top: -10x;
left: 100px;
height: 45px;
width: 45px;
border-radius: 100%;
background-color: yellow;
}

#sixth-orbit {
  top: -110px;
  left: -110px;
  width: 540px;
  height: 540px;
  -webkit-animation: spin-right 12s linear infinite;
  animation: spin-right 12s linear infinite;
  }
  
  .sixth-orbit-circle {
  position: absolute;
  top: 5px;
  left: 120px;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color:pink;
  }



#seventh-orbit {
  left: -160px;
  width: 650px;
  height: 650px;
  -webkit-animation: spin-right 12s linear infinite;
  animation: spin-right 12s linear infinite;
  }
  
  .seventh-orbit-circle {
  position: absolute;
  top: -10x;
  left: 145px;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  background-color:pink;
  }

  #sun {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #fae20a;
    top: 115px;
    left: 115px;
    border-radius: 50%;
    box-shadow: 0 0 40px orange;
  }


  
@-webkit-keyframes spin-right {
  100% { transform: rotate(360deg); }
}










=======
.orbit-four {
  position: absolute;
  top: -20px;
  left: -20px;
   width: 350px;
   height: 350px;
   border: 1px solid #ffffff;
   animation: myR 18s linear infinite;
   border-radius: 500px;
}

.planet-four {
  position: absolute;
  top: 90px;
  color: #ffffff;
  background-color: #942934;
  box-shadow: 0 0 36px #cc3443;
  width: 25px;
  height: 25px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

.orbit-five {
 position: absolute;
  top: -57px;
  left: -57px;
   width: 425px;
   height: 425px;
   border: 1px solid #ffffff;
   animation: myR 118s linear infinite;
   border-radius: 500px;
}

.planet-five {
  position: absolute;
  top: 110px;
  color: #ffffff;
  background-color: #DD901F;
  box-shadow: 0 0 45px rgb(247, 155, 17); 
  width: 35px;
  height: 35px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

.orbit-six {
  position: absolute;
  top: -93px;
  left: -93px;
   width: 500px;
   height: 500px;
   border: 1px solid #ffffff;
   animation: myR 295s linear infinite;
   border-radius: 500px;
}

.planet-six {
  position: absolute;
  top: 170px;
  color: #ffffff;
  background-color: #DDDCAC;
  box-shadow: 0 0 30px rgb(228, 226, 134); 
  width: 20px;
  height: 20px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

.orbit-seven {
  position: absolute;
  top: -118px;
  left: -118px;
   width: 550px;
   height: 550px;
   border: 1px solid #ffffff;
   animation: myR 840s linear infinite;
   border-radius: 500px;
}

.planet-seven {
  position: absolute;
  top: 190px;
  color: #ffffff;
  background-color: #D3E7EB;
  box-shadow: 0 0 35px rgb(138, 206, 219);
  width: 25px;
  height: 25px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

.orbit-eight {
  position: absolute;
  top: -180px;
  left: -180px;
   width: 675px;
   height: 675px;
   border: 1px solid #ffffff;
   animation: myR 1640s linear infinite;
   border-radius: 500px;
}

.planet-eight {
  position: absolute;
  top: 240px;
  color: #ffffff;
  background-color: #298091;
  box-shadow: 0 0 30px #54a3b3;
  width: 21px;
  height: 21px;
  animation: myR 2s linear infinite;
  border-radius: 50px;
}

@keyframes myR {
  100% { transform: rotate(360deg); }
}

.btn {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  color: red;
}
>>>>>>> .merge_file_QigW7E
